[ req ]
distinguished_name = req_distinguished_name
req_extensions = req_ext
prompt = no

[ req_distinguished_name ]
CN = mongodb3.gmahechas.local

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = mongodb3.gmahechas.local
DNS.2 = mongodb3
